<div class="banner">
<div class="row">
    <h1 id="heads">Library</h1>
  </div>
  <div class="row">
    
    <div class="col-md-12">
    <h3 id="quote">"Books are the quietest and most constant of friends; they are the most accessible and wisest of counselors, and the most patient of teachers."
      ― Charles W. Eliot</h3>
      </div>
     
    
    <div class="row">
      <div class="col-md-12">
       <br>
       <br>
        </div>
      </div>
    </div>
</div>
  <div id="members">
    <div class="row">
      <div class="col-md-12">
      <h2 id="heads1">What our members say!</h2>
    </div>
  </div>
     <div class="row">
       <div class="col-md-4">
        <div class="card">
          <div class="card-body" style="margin-left: 5%; text-align: justify;">
            <p class="card-text">"Listen up, the library is cool and we all secretly know it. But what's even cooler is that this app lets you borrow e-books, audiobooks, music, and more for free."</p>
          </div>
        </div>
    </div>
      <div class="col-md-4">
       <div class="card" >
         <div class="card-body" style="margin-left: 5%; text-align: justify;">
           <p class="card-text">"This app give access to multiple contents with a potentially infinite number of resources and selections at hand. We can access an enormous amount of knowledge, facilitating the expansion of education. "</p>
         </div>
       </div>
   </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body" style="margin-left: 5%; text-align: justify;">
          <p class="card-text">"Put your local library in your pocket with this app, an ebook- and audiobook-borrowing app with a wealth of literary offerings available on demand."</p>
        </div>
      </div>
    </div>
    </div> 
  </div>
  <!-- Books -->
  <div id="booksdetail">
  <div class="row">
    <div class="col-md-12">
   <h2>You will find</h2>
    </div>
    </div>
</div>
<div class="row">
  <div class=col-md-12 style="text-align: center;">
    <div class="container mt-3">
      <div id="bootstrapCarousel" class="carousel slide" data-ride="carousel">
        <!-- Slide Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#bootstrapCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#bootstrapCarousel" data-slide-to="1"></li>
          <li data-target="#bootstrapCarousel" data-slide-to="2"></li>
        </ul>
    
        <!-- The slides to show -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h3 style="font-family: cursive;">Entertainment</h3>
      <img src="./assets/images/inmjeeves.jpg" style="width:30%; height: 500px;">
      <img src="./assets/images/midnightside.jpg" style="width:30%; height:500px;">
      <img src="./assets/images/memmidnight.jpg" style="width:30%; height:500px;">
          </div>
          <div class="carousel-item">
            <h3 style="font-family: cursive;">Education</h3>
            <img src="./assets/images/javascriptbook.jpg" style="width:30%; height:500px;">
            <img src="./assets/images/expressjsbook.jpg" style="width:30%; height: 500px;">
            <img src="./assets/images/nodejsbook.jpg" style="width:30%; height:500px;">
          </div>
          <div class="carousel-item">
            <h3 style="font-family: cursive;">Kids Learning</h3>
            <img src="./assets/images/tinklesup.jpg" style="width:30%; height:500px;">
            <img src="./assets/images/chefs.jpg" style="width:30%; height:500px;">
            <img src="./assets/images/balarama.jpg" style="width:30%; height:500px;">
          </div>
        </div>
    
        <!--  Controls (Left and right) -->
        <a class="carousel-control-prev" href="#bootstrapCarousel" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#bootstrapCarousel" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    
    
</div>
</div>

